* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    padding: 0;
    margin: 0;
}

.game-container {
    display: grid;
    position: relative;
    width: 512px;
    height: 288px;
    margin: 0 auto;
    outline: 1px solid white;

    transform: scale(2) translateY(50%);
}

@media (max-width: 1100px), (max-height: 750px) {
    .game-container {
        transform: scale(1.5) translateY(40%);
    }
}

@media (max-width: 800px), (max-height: 600px) {
    .game-container {
        transform: scale(1.25) translateY(30%);
    }
}

@media (max-width: 675px), (max-height: 525px) {
    .game-container {
        transform: scale(1) translateY(20%);
    }
}
.game-container canvas, .screen-transition {
    grid-column: 1;
    grid-row: 1;
    image-rendering: pixelated;
}

#game-canvas {
    /* opacity: 0.4; */
    z-index: 2;
}

.screen-transition {
    z-index: 3;
    width: 512px;
    height: 288px;
    background-color: black;
    opacity: 0;
    animation: fade-in 0.7s forwards;
}
.screen-transition.fade-out {
    animation: fade-out 0.7s forwards;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}